@font-face {
  font-family: Roboto;
  src: url('../fonts/Roboto-Regular.ttf'), url('../fonts/Roboto-Bold.ttf'),
    url('../fonts/Roboto-Italic.ttf'), url('../fonts/Roboto-Medium.ttf'),
    url('../fonts/Roboto-Light.ttf');
}

@font-face {
  font-family: Manrope;
  src: url('../fonts/Manrope-Regular.ttf'), url('../fonts/Manrope-Bold.ttf');
}
